/* Main */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

.main-content {
    width: 100%;
    padding: 15px 20px 15px 20px;
    border-radius: 15px;
}

.top-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.image-container img {
    width: 100px;
    border-radius: 50%;
    border: 1px solid #222222;
}

.text-container {
    width: 60%;
}

.text-container h2 {
    color: #2457be;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.text-container p {
    color: #3ecf54;
    font-size: 1rem;
}

.content-container {
    width: 100%;
    text-align: justify;
}

.content-container p {
    font-size: 0.9rem;
}

.content-container .para1 {
    margin-bottom: 10px;
}


@media screen and (min-width: 600px){
    .main-content {
        max-width: 800px;
        padding: 20px 30px 20px 30px;
    }

    .top-container {
        margin-bottom: 30px;
    }

    .image-container {
        margin-right: 40px;
    }

    .image-container img {
        width: 140px;
    }

    .text-container h2 {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .text-container p {
        font-size: 1.25rem;
    }

    .content-container p {
        font-size: 0.95rem;
    }
}