@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* Main */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

.main-content {
    display: grid;
    padding: 20px 8px 20px 8px;
    gap: 20px;
}

.card-container {
    background-color: white;
    border-radius: 8px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 20px -10px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 20px -10px rgba(0,0,0,0.25);
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.25);
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 105px;
    border-radius: 50%;
    border: 1px solid black;
}

.text-container {
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h2 {
    font-size: 1.3rem;
    font-weight: normal;
    font-family: 'Kalam', cursive;
}

.text-container h3 {
    font-size: 1.05rem;
    color: #2457be;
    margin-bottom: 10px;
}

.text-container .result {
    font-size: 0.9rem;
    margin-bottom: 4px;
}

.text-container .result .result-highlight {
    color: green;
    font-size: 0.95rem;
}

.text-container .btn {
    width: 98px;
    background: #02c26b;
    border: 2px solid #02c26b;
    color: #ffffff;
    font-size: 0.7rem;
    font-family: 'Quicksand', sans-serif;
    padding: 4px 6px 4px 6px;
    text-decoration: none;
    text-align: center;
}

.text-container .btn:hover {
    cursor: pointer;
    background: transparent;
    color: #02c26b;
    text-decoration: none;
}

.text-container .year-container {
    background-color: #d4e5ff;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px 8px 6px 8px;
    border-radius: 8px 0 0 0;
}

.text-container .year-container p {
    font-size: 0.76rem;
    color: #2457be;
}

@media screen and (min-width:600px){
    .card-container {
        width: 420px;
    }

    .image-container img {
        width: 120px;
    }

    .text-container {
        width: 60%;
    }

    .text-container h2 {
        font-size: 1.5rem;
    }

    .text-container h3 {
        font-size: 1.17rem;
    } 

    .text-container .result {
        font-size: 1rem;
    }

    .text-container .result .result-highlight {
        font-size: 1.05rem;
    }

    .text-container .btn {
        width: 50%;
        font-size: 0.8125rem;
        padding: 6px 10px 6px 10px;
    }

    .text-container .year-container {
        padding: 8px 10px 8px 10px;
    }
    
    .text-container .year-container p {
        font-size: 0.82rem;
    }
}

@media screen and (min-width:900px){
    .main-content {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}