@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

/* Main */
.hero {
    background: linear-gradient(12deg, #d4e5ff 2%, #f7faff 28%, #ffffff 40%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    gap: 120px;
    margin-bottom: 20px;
}

.hero-text {
    width: 450px;
    text-align: left;
}

.hero-text h1 {
    color: #2d4bb0;
    font-size: 3.2rem;
    margin-bottom: 10px;
    font-weight: normal;
}

.hero-text p {
    color: #444444;
    font-size: 0.94rem;
}

.icon-container img {
    width: 250px;
}

.grid-container {
    display: grid;
    padding: 25px 8px;
    grid-template-columns: 1fr;
    gap: 18px;
}

.card-container {
    background-color: white;
    border-radius: 8px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 20px -10px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 20px -10px rgba(0,0,0,0.25);
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.25);
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 105px;
    border-radius: 50%;
    border: 1px solid black;
}

.text-container {
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h2 {
    font-size: 1.28rem;
    font-weight: normal;
    font-family: 'Kalam', cursive;
}

.text-container h3 {
    font-size: 1.1rem;
    color: #2457be;
    margin-bottom: 5px;
}

.text-container .result {
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.text-container .result .result-highlight {
    color: green;
    font-weight: bold;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.marks-btn {
    border: 2px solid #20d438;
    background-color: #20d438;
    color: white;
    font-size: 0.65rem;
    padding: 7px 10px 7px 10px;
    margin-right: 10px;
    text-align: center;
    letter-spacing: 0.1rem;
}

.marks-btn:hover {
    border: 2px solid #20d438;
    background-color: white;
    color: #20d438;
}

.degree-btn {
    padding: 5px;
    border-radius: 50%;
}

.degree-btn:hover {
    background-color: #d4e5ff;
}

.degree-btn i {
    transform: scale(1);
}

.text-container .year-container {
    background-color: #d4e5ff;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px 8px 6px 8px;
    border-radius: 8px 0 0 0;
}

.text-container .year-container p {
    font-size: 0.76rem;
    color: #2457be;
}

@media screen and (min-width:600px){
    .grid-container {
        gap: 24px;
        padding: 40px 8px;
    }

    .card-container {
        width: 430px;
        padding: 15px;
    }

    .image-container img {
        width: 120px;
    }

    .text-container {
        width: 64%;
    }

    .text-container h2 {
        font-size: 1.4rem;
    }

    .text-container h3 {
        font-size: 1.2rem;
    } 

    .text-container .result {
        font-size: 0.95rem;
        margin-bottom: 10px;
    }

    .marks-btn {
        letter-spacing: 0.1rem;
        font-size: 0.75rem;
        padding: 8px 11px 8px 11px;
        margin-right: 15px;
    }

    .degree-btn {
        padding: 6px;
        border-radius: 50%;
    }

    .degree-btn:hover {
        background-color: #d4e5ff;
    }

    .degree-btn i {
        transform: scale(1.2);
    }

    .text-container .year-container {
        padding: 8px 10px 8px 10px;
    }
    
    .text-container .year-container p {
        font-size: 0.82rem;
    }
}

@media screen and (min-width:900px){
    .grid-container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}