/* Footer */
footer {
    background-color: #effceb;
    width: 100vw;
    height: 60px;
    transition: height 0.3s ease;
    box-shadow: 0px 8px 23px 0px rgba(0,0,0,0.16);
}

.footer-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 12px;
    transition: gap 0.3s ease, padding 0.3s ease;
}

.social-icons i {
    scale: 1.4;
    transition: scale 0.3s ease;
    cursor: pointer;
}

.facebook-icon:hover {
    background: -moz-linear-gradient(#17A9FD, #0165E1);
    background: -webkit-linear-gradient(#17A9FD, #0165E1);
    background: linear-gradient(#17A9FD, #0165E1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instagram-icon:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background: -moz-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.github-icon:hover {
    color: #60bf3d;
}

.linkedin-icon:hover {
    color: #0A66C2;
}

.footer-container .copyright {
    font-size: 0.65rem;
}

@media screen and (min-width: 800px) {
    footer {
        height: 70px;
        transition: height 0.3s ease;
    }

    .social-icons {
        gap: 30px;
        padding: 15px;
        transition: gap 0.3s ease, padding 0.3s ease;
    }

    .social-icons i {
        scale: 1.7;
        transition: scale 0.3s ease;
    }

    .footer-container .copyright {
        font-size: 0.75rem;
    }
}