@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

:root {
    --color-footer: #effceb;
    --box-shadow-footer: 0px 8px 23px 0px rgba(0,0,0,0.16);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    appearance: none;
    list-style: none;
    text-decoration: none;
}


body {
    background-color: #fdfdfd;
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    background: transparent;
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

footer {
    background-color: var(--color-footer);
    width: 100%;
    height: 60px;
    transition: height 0.3s ease;
    box-shadow: var(--box-shadow-footer);
}