.hero {
    background: linear-gradient(0deg, #d4e5ff 2%, #f7faff 30%, #ffffff 50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 15px 30px 15px;
    margin-bottom: 30px;
}

.hero-main {
    width: 100%;
    max-width: 785px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hero-text {
    width: 400px;
    text-align: left;
}

.hero-text h1 {
    color: #2d4bb0;
    font-size: 2.6rem;
    margin-bottom: 8px;
    font-weight: normal;
}

.hero-text p {
    color: #444444;
    font-size: 0.9rem;
}

.hero-image {
    display: none;
}

.hero-image img {
    width: 200px;
}


@media screen and (min-width: 600px) {
    .hero {
        padding: 40px 20px 30px 20px;
    }

    .hero-image {
        display: block;
    }

    .hero-main {
        justify-content: space-between;
    }
}

@media screen and (min-width: 800px) {
    .hero {
        padding: 50px 20px 40px 20px;
    }

    .hero-text {
        width: 450px;
    }

    .hero-text h1 {
        font-size: 3.2rem;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-size: 0.94rem;
    }

    .hero-image img {
        width: 250px;
    }
}