:root {
    --button-primary-color: #863dad;
}

/* Main */
.main-content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.text-container {
    max-width: 500px;
}

.text-container h1 {
    color: #2457be;
    margin-bottom: 5px;
}

.text-container h2 {
    color: #2fcc4e;
    margin-bottom: 18px;
}

.text-container .intro-para {
    color: #444444;
    margin-bottom: 20px;
    text-align: justify;
}

.button-container {
    font-size: 0.9rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.button-container a {
    border: 2px solid var(--button-primary-color);
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

.button-container .hire-me, .button-container .know-more:hover{
    background-color: var(--button-primary-color);
    color: white;
}

.button-container .know-more, .button-container .hire-me:hover {
    background-color: white;
    color: var(--button-primary-color);
}

.image-container{
    display: none;
}


@media screen and (min-width: 800px) {
    .main-content {
        justify-content: space-between;
    }

    .text-container {
        margin-right: 10px;
    }

    .text-container h1 {
        font-size: 2.4rem;
    }

    .text-container h2 {
        font-size: 1.9rem;
    }

    .button-container {
        font-size: 1rem;
        justify-content: flex-start;
        gap: 35px;
    }

    .button-container a {
        padding: 9px 18px;
    }

    .image-container {
        display: block;
        margin-left: 10px;
    }

    .image-container img {
        width: 400px;
    }
}