/* Main */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.main-content h1 {
    margin-bottom: 5px;
}

.main-content h2 {
    margin-bottom: 15px;
}

.main-content .intro-para {
    margin-bottom: 10px;
}


@media screen and (min-width: 800px) {
    
}