/* Navbar */
:root {
    --color-nav-header-h1: #2457be;
    --color-nav-links: purple;
    --color-nav-links-underline: #7a08cc;
    --color-dropdown-menu-border: #efefef;

    --box-shadow-dropdown-menu: 0px 0px 10px 0px rgba(0,0,0,0.12);
}

nav {
    background: transparent;
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;
}

.nav-header {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-header h1 {
    font-size: 1.55rem;
    transition: 0.3s ease;
    font-family: 'Fragment Mono', monospace;
    color: var(--color-nav-header-h1);
}

.nav-links {
    height: 100%;
    display: none;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.nav-links .active:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-nav-links-underline);
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-links a {
    height: 85%;
    font-size: 1.1rem;
    color: var(--color-nav-links);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 4px;
    padding: 0 4px;
    transition: font-size 0.3s ease, padding 0.3s ease;
    cursor: pointer;
}

.nav-links a:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-nav-links-underline);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:hover:after {
    transform: scaleX(1);
}

.nav-toggle {
    margin-right: 18px;
    scale: 1.6;
    cursor: pointer;
}

.dropdown-menu {
    height: 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--box-shadow-dropdown-menu);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    font-size: 1.1rem;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.dropdown-menu.open {
    height: 300px;
    opacity: 100%;
}

.dropdown-menu a {
    font-size: 1.1rem;
    color: var(--color-nav-links);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid var(--color-dropdown-menu-border);
}

.dropdown-menu a:hover {
    transform: scale(1.15);
}


@media screen and (min-width: 600px) {
    .nav-header {
        width: 30%;
    }

    .nav-links {
        display: flex;
    }

    .nav-toggle, .dropdown-menu {
        display: none;
    }
}


@media screen and (min-width: 800px) {
    .nav-header h1 {
        font-size: 1.7rem;
    }

    .nav-links a {
        font-size: 1.2rem;
        margin: 0 6px;
        padding: 0 6px;
    }
}
