/* Navbar */
:root {
    --color-nav: #effceb;
    --box-shadow-nav: 0px -8px 23px 0px rgba(0,0,0,0.16);
    --color-nav-header-h1: #2457be;
    --color-nav-links: purple;
    --color-nav-links-underline: #7a08cc;
    --color-nav-links-hover: #2457be;
}

nav {
    background-color: var(--color-nav);
    box-shadow: var(--box-shadow-nav);
    display: flex;
    position: relative;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;
}

.nav-header {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-header h1 {
    font-size: 1.4rem;
    transition: 0.3s ease;
    font-family: 'Fragment Mono', monospace;
    color: var(--color-nav-header-h1);
}

.nav-links {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.nav-links .active:before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--color-nav-links-underline);
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-links a {
    height: 100%;
    font-size: 1.1rem;
    color: var(--color-nav-links);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 7px;
    transition: font-size 0.3s ease, padding 0.3s ease;
}

.nav-links a:not(.active):hover {
    color: var(--color-nav-links-hover);
    cursor: pointer;
}

.nav-links a:not(.active):after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--color-nav-links-underline);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:not(.active):hover:after {
    transform: scaleX(1);
}

.nav-toggle {
    margin-right: 20px;
    scale: 1.4;
    cursor: pointer;
}

.dropdown-menu {
    height: 0px;
    background-color: var(--color-nav);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 50px;
    right: 10px;
    width: 200px;
    font-size: 1.1rem;
    overflow: hidden;
    z-index: 1;
}

.dropdown-menu.open {
    height: auto;
}

.dropdown-menu a {
    font-size: 1.1rem;
    color: var(--color-nav-links);
    padding: 10px;
    position: relative;
    width: 100%;
}

.dropdown-menu a:hover {
    color: var(--color-nav-links-hover);
    cursor: pointer;
}

.dropdown-menu a:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-nav-links-underline);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.dropdown-menu a:hover:after {
    transform: scaleX(1);
}


@media screen and (min-width: 600px) {
    nav {
        justify-content: center;
    }

    .nav-header {
        width: 30%;
    }

    .nav-links {
        flex-grow: 1;
        display: flex;
    }

    .nav-toggle {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }
}


@media screen and (min-width: 800px) {
    nav {
        height: 50px;
        transition: height 0.3s ease;
    }

    .nav-header h1 {
        font-size: 1.6rem;
        transition: font-size 0.3s ease;
    }

    /* .nav-links {
        display: flex;
    } */

    .nav-links a {
        font-size: 1.3rem;
        padding: 0 10px;
        transition: font-size 0.3s ease, padding 0.3s ease;
    }
}
