/* Navbar */
:root {
    --color-nav-header-h2: #0036a1;
    --color-nav-links: rgb(106, 22, 170);
    --color-nav-links-underline: rgb(91, 9, 163);
    --color-dropdown-menu-border: #efefef;

    --box-shadow-dropdown-menu: 0px 0px 10px 0px rgba(0,0,0,0.12);
}

.nav-main {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: max(150px, 30%) auto;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-header img {
    width: 110px;
    margin-top: 5px;
    transition: width 0.3s ease;
}

.nav-links {
    width: 100%;
    height: 95%;
    display: none;
    justify-content: center;
    align-items: center;
}

.nav-links .active:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-nav-links-underline);
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-links a {
    height: 100%;
    font-size: 1.1rem;
    color: var(--color-nav-links);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 4px;
    padding: 0 4px;
    transition: font-size 0.3s ease, padding 0.3s ease;
    cursor: pointer;
}

.nav-links a:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-nav-links-underline);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:hover:after {
    transform: scaleX(1);
}

.nav-toggle {
    margin-right: 18px;
    scale: 1.8;
    cursor: pointer;
}

.dropdown-menu {
    height: 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--box-shadow-dropdown-menu);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    overflow: hidden;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.dropdown-menu.open {
    height: 270px;
    opacity: 100%;
}

.dropdown-menu a {
    font-size: 1.05rem;
    color: var(--color-nav-links);
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropdown-menu a:hover {
    background-color: #fafafa;
}


@media screen and (min-width: 618px) {
    .nav-main {
        justify-content: stretch;
    }

    .nav-links {
        display: flex;
    }

    .nav-toggle, .dropdown-menu {
        display: none;
    }
}


@media screen and (min-width: 800px) {
    .nav-header img {
        width: 130px;
        margin-top: 8px;
    }

    .nav-links a {
        font-size: 1.15rem;
        margin: 0 6px;
        padding: 0 6px;
    }
}
