:root {
    --primary-color-all: #e30202;
    --primary-color-web: #2d45b3;
    --primary-color-software: #9e2eb8;
    --primary-color-game: #1eab16;

    --secondary-color-web: #a8b0ff;
    --secondary-color-software: #eea8ff;
    --secondary-color-game: #a8ffb4;
}

/* Main */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px 40px 10px;
}

.category-container {
    width: 100%;
    font-size: 1.06rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 10px 0;
    margin-bottom: 40px;
}

.category-item {
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    padding: 5px 12px;
    cursor: pointer;
}

/* All Category */
.all-category {
    border-color: var(--primary-color-all);
    color: var(--primary-color-all);
}

.all-category:hover {
    background-color: var(--primary-color-all);
    color: white;
}

.all-category.active-item {
    background-color: var(--primary-color-all);
    color: white;
}

/* Web Category */
.web-category {
    border-color: var(--primary-color-web);
    color: var(--primary-color-web);
}

.web-category:hover {
    background-color: var(--primary-color-web);
    color: white;
}

.web-category.active-item {
    background-color: var(--primary-color-web);
    color: white;
}

/* Software Category */
.software-category {
    border-color: var(--primary-color-software);
    color: var(--primary-color-software);
}

.software-category:hover {
    background-color: var(--primary-color-software);
    color: white;
}

.software-category.active-item {
    background-color: var(--primary-color-software);
    color: white;
}

/* Game Category */
.game-category {
    border-color: var(--primary-color-game);
    color: var(--primary-color-game);
}

.game-category:hover {
    background-color: var(--primary-color-game);
    color: white;
}

.game-category.active-item {
    background-color: var(--primary-color-game);
    color: white;
}


/* Project Grid Container */
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card-container {
    background-color: white;
    border-radius: 10px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.1);
}

.card-container .header-container {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.web-project {
    background-color: var(--secondary-color-web);
}

.software-project {
    background-color: var(--secondary-color-software);
}

.game-project {
    background-color: var(--secondary-color-game);
}

.header-container h2 {
    text-align: center;
}

.card-container .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 16px 12px;
}

.text-container .summary {
    font-size: 0.92rem;
    text-align: justify;
    margin-bottom: 12px;
}

.text-container .link {
    font-size: 0.9rem;
    color: #999999;
}

.text-container .link:hover {
    color: #0023bf;
}