/* Main */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

.main-content {
    width: 100%;
    max-width: 840px;
    padding: 50px 20px 30px 20px;
}

.main-content h2 {
    color: #2457be;
}

.programming-container {
    margin-bottom: 40px;
}

.programming-container h2 {
    margin-bottom: 15px;
}

.programming-container ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.certifications-container h2 {
    margin-bottom: 15px;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 18px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.15);
}

.card-container h3 {
    color: #444444;
}

.internship {
    grid-row: span 2;
}

.internship h3 {
    margin-bottom: 12px;
}

.internship .summary {
    margin-bottom: 12px;
    text-align: justify;
}

.internship .project-list {
    font-size: 0.9rem;
    padding-inline-start: 30px;
}

.internship .project-list li {
    margin-bottom: 2px;
    list-style: disc;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.link-container .institute {
    color: #858585;
}

.link-container .link {
    color: #829db5;
}

.link-container .link:hover {
    color: #014c91;
}