@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    appearance: none;
    list-style: none;
    text-decoration: none;
}


body {
    background: linear-gradient(90deg, #daf5e1, #f1f7e4);
    /* background-color: #E6FFFD; */
    font-family: sans-serif;
}


nav {
    /* background: linear-gradient(90deg, #daf5e1, #f1f7e4); */
    display: flex;
    position: relative;
    width: 100vw;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;
}

.nav-header {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-header h1 {
    font-size: 1.3rem;
    transition: 0.3s ease;
    font-family: 'Fragment Mono', monospace;
    color: #2457be;
}

.nav-links {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    height: 100%;
    font-size: 1.1rem;
    color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 6px;
    transition: font-size 0.3s ease, padding 0.3s ease;
}

.nav-links a:hover {
    color: #2457be;
    /* background-color: #D0F5BE; */
    cursor: pointer;
}

.nav-links a:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #7a08cc;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:hover:after {
    transform: scaleX(1);
}

.nav-toggle {
    margin-right: 20px;
    scale: 1.4;
    cursor: pointer;
}

.dropdown-menu {
    height: 0px;
    background-color: hsl(131, 94%, 67%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 50px;
    right: 10px;
    width: 200px;
    font-size: 1.1rem;
    overflow: hidden;
}

.dropdown-menu.open {
    height: auto;
}

.dropdown-menu a {
    color: purple;
    padding: 10px;
    position: relative;
    width: 100%;
}

.dropdown-menu hr {
    width: 100px;
    border-color: purple;
}

.dropdown-menu a:hover {
    color: white;
    background-color: hsl(131, 94%, 48%);
    cursor: pointer;
}

.dropdown-menu a:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #7a08cc;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.dropdown-menu a:hover:after {
    transform: scaleX(1);
}


@media screen and (min-width: 600px) {
    nav {
        justify-content: center;
    }

    .nav-header {
        width: 30vw;
        height: 100%;
    }

    .nav-links {
        width: 70vw;
        display: flex;
    }

    .nav-toggle {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }
}


@media screen and (min-width: 800px) {
    nav {
        height: 50px;
        transition: height 0.3s ease;
    }

    .nav-header h1 {
        font-size: 1.6rem;
        transition: font-size 0.3s ease;
    }

    .nav-links {
        display: flex;
    }

    .nav-links a {
        font-size: 1.3rem;
        padding: 0 10px;
        transition: font-size 0.3s ease, padding 0.3s ease;
    }
}


/* Main */
main {
    width: 100vw;
    height: calc(100vh - 120px);
}


/* Footer */
footer {
    /* background: linear-gradient(90deg, #98EECC, #D0F5BE); */
    width: 100vw;
    height: 70px;
}

.footer-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}

.social-icons i {
    scale: 1.5;
    cursor: pointer;
}

.footer-container p {
    font-size: 0.75rem;
}